name: Rust

on:
  push:
    paths-ignore:
      - ".github/**"
      - "*.md"
  pull_request:
    paths-ignore:
      - ".github/**"
      - "*.md"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rust: ["1.39.0", stable]
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
      - uses: actions/checkout@v1
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          components: rustfmt, clippy
          override: true
      - name: Check
        run: cargo check
      - name: Rustfmt
        run: cargo fmt --all -- --check
      - name: Clippy
        run: cargo clippy -- -D warnings
      - name: Run tests
        run: cargo test --verbose
